
/* .spacer{
    padding-left: 10px;
} */

.wrapper{
    /* background-color:gray; */
    border: solid 2px gray;
    /* float: left; */
}

.displayStyle {
    border:solid gray 1px;

}
#one{
    margin: 5px 15px;
}