* {
    box-sizing: border-box;
  }
html, body{
    height: 100%;
}

.container {
    width: 100%;
    padding: 0;

}

.col1{
    background: gray;
    padding: 25px;
    
}

.row{
    height: 100%;
}

#one{
    color: white;
}

.oldSearches {
    margin-top: 20px;
}

.color{
    background: lightgray;
    border: solid 1px black;
    
}


/* .wrapper{
    float: left;
} */
